<div
  class="success__page container-lg container-xs-fluid d-flex justify-content-center align-items-center"
>
  <div class="d-flex flex-column justify-content-around w-lg-50 w-xs-75 h-75 shadow px-5">
    <!-- Success image -->
    <div class="d-flex justify-content-center">
    <iframe src="https://embed.lottiefiles.com/animation/96081"></iframe>
  </div>
    <div
      class="d-flex flex-column align-items-center h-50 justify-content-around"
    >
    <!-- Success message -->
      <h2>Thank you</h2>
      <p class="h-xs-100">
        Your submission has been recived. We will be in touch and contact you
        soon!
      </p>
      <button class="btn btn-outline-danger fw-bolder" (click)=landingPage()>
        Landing page
      </button>
    </div>
  </div>
</div>
