<section id="about-us">
  <!-- About us header -->
  <h1  data-aos="fade-right">About us</h1>
  <div class="row shadow" data-aos="fade-up"
  data-aos-duration="3000">
    <!-- Logo image -->
    <div class="col-6 d-flex justify-content-center">
      <img src="https://digitalbondmena.com/assets/images/Logo_V2.gif" />
    </div>
    <!-- About us description -->
    <div class="col-6 d-flex align-items-center">
      <p>
        A digital marketing agency that mixes and matches creativity and
        commitment to help brands go beyond the limit.
      </p>
    </div>
  </div>
</section>
