/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.hover:hover{
    filter: brightness(72%);
}
body{
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style:none ;
}
svg.insta path{
    stroke: #000000;
    stroke-width: 0.188em;
  }
  
section{
    padding:12vh 0em;
}
h1{
    font-size: 1.5em;
    line-height: 2.438em;
    font-weight: 600;
    }

    @media screen and (max-width: 767px) {
        section{
            padding:5vh 0em;
        }
        }